.headSearch {
    position: sticky;
    top: 0;
    color: white;
    background-color: black;
}

.form-control-lg {
    border-color: black;
}

.linkClicked {
    border-radius: 10px;
    border-color: none;
    background-color: blueviolet;
    color: white;
}

.linkClicked:hover {
    color: white;
}

* {
    font-family: monospace;
  }

.hiddenButton {
    display: none;
}

.tdButton {
    display: flex;
    gap: 10px;
}

.dark {
    background-color: #0f1221;
    color: white;
}

.no-color {
    color: black;
}

#theme {
    font-size: 1.4em;
    vertical-align: middle;
    margin: auto 5px;
}

.btn-style:hover, .link-btn-style:hover {
    box-shadow: 2px 2px blue;
    transform: scale(1.1);
}

.btn-style, .link-btn-style {
    transition: all 150ms; 
}

.container-search {
    border: 2.5px solid black;
    border-radius: 20px;
    width: 30%;
    margin: 0 auto 10px auto;
    padding: 20px 0 0 0;
    background-color: #f7f7f7;
    transition: all 150ms;
}

.container-search:hover {
    background-color: aliceblue;
    transform: scale(1.05);
    box-shadow: 10px 10px black;
}