.headSearch {
    position: sticky;
    top: 0;
    color: white;
    background-color: black;
}

.form-control-lg {
    border-color: black;
}

.linkClicked {
    border-radius: 10px;
    border-color: none;
    background-color: blueviolet;
    color: white;
}

.linkClicked:hover {
    color: white;
}

* {
    font-family: monospace;
  }

.hiddenButton {
    display: none;
}

.tdButton {
    display: flex;
    gap: 10px;
}

.dark {
    background-color:  #1c1c33;
    color: white;
}

#theme {
    font-size: 1.4em;
    vertical-align: middle;
    margin: auto 5px;
}
