{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <div class="container-search">
        <div class="h3 mb-5 no-color">Nutritional Fact Finder</div>
        <form action="/search" method="get">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto mb-3" id="food" name="food" placeholder="Egg" type="text">
            <button class="btn btn-primary mb-5 btn-style" id="searchButton" type="submit">Search</button>
        </form>
    </div>
    
    {% if foods %}
    <div class="container">
        <small>(results are based on 100g serving)</small>
        <table class="table-striped table table-dark table-bordered align-middle" id="tableSearch">
            <thead class="headSearch">
                <tr>
                    <td class="w-25">Name</td>
                    <td>Calories</td>
                    <td>Fat</td>
                    <td>Fiber</td>
                    <td>Sugar</td>
                    <td>Protein</td>
                    <td>Calcium</td>
                    <td></td>
                </tr>
            </thead>
        
            <tbody>
                {% for food in foods %}
                <tr>
                    <td class="text-start">{{ food.name }}</td>
                    <td>{{ food.calories }}</td>
                    <td>{{ food.fat }}</td>
                    <td>{{ food.fiber }}</td>
                    <td>{{ food.sugars }}</td>
                    <td>{{ food.protein }}</td>
                    <td>{{ food.calcium }}</td>
                    <td>
                        <form action="/" method="post">
                            <input type="hidden" name="name" value="{{ food.name }}">
                            <input type="hidden" name="calories" value="{{ food.calories }}">
                            <input type="hidden" name="protein" value="{{ food.protein }}">
                            <button class="btn btn-primary" type="submit">Add</button>
                        </form>     
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="container" id="alert-container">
        <div class="alert alert-warning" style="display: none;">Food not found!</div>
    </div>

    {% endif %}
{% endblock %}
