{% extends "layout.html" %}

{% block title %}
    To-Do-List
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row mb-5">
            <form action="/todolist" method="post">
                <input autocomplete="off" id="todoField" type="text" class="form-control-lg mb-3 border-2 me-3 w-100" name="todo" placeholder="What do you want to do today?" onsubmit="return validateForm()">
                <button class="btn btn-primary btn-style" type="submit">Add</button>
            </form>
        </div>

        <div class="d-flex flex-row justify-content-center gap-3 mb-5">
            <a href="/todolist" class="nav-link" id="todolist">All</a>
            <a href="/todo_completed" class="nav-link" id="todo_completed">Completed</a>
        </div>

        <div class="container row">
           
            <table class="table table-dark table-bordered table-hover">
                <thead>
                    <tr>
                        <td class="col-1">Check</td>
                        <td class="col-10">Todo</td>
                        <td class="col-1"></td>
                    </tr>
                </thead>
                <tbody class="align-middle table-light">
                    <form action="/todo_completed" method="post" id="formTodo">
                    {% for todo in todolist %}
                        <tr>           
                            <td>    
                                <!-- using jinja syntax loop.index to generate a unique name for each input-->
                                <input class="form-check-input" type="checkbox" value="{{ todo.todo }}" id="checkTodo{{loop.index}}" name="check{{ loop.index }}">
                                <input type="hidden" name="checkVal{{ loop.index }}" value="{{ todo.todo }}">
                            </td>
                            <td>
                                <input type="hidden" name="previousVal{{ loop.index }}" value="{{ todo.todo }}">
                                <!-- do not use disabled attribute because the input won't be sent along with the form. Use readonly attribute instead :D -->
                                <input type="text" name="editInput{{ loop.index }}" class="form-control input" id="editInput{{ loop.index }}" value="{{ todo.todo }}" readonly>
                            </td>         
                            <td class="tdButton">
                                <button class="btn btn-primary" id="editButton">Edit</button>
                                <button class="btn btn-primary hiddenButton" id="editConfirm{{ loop.index }}">OK</button>
                                <button class="btn btn-primary" type="submit" name="deleteRow" value="{{ todo.todo }}">🗑️</button>
                            </td>  
                        </tr>
                    {% endfor %}
                    </form>    
                </tbody>
            </table>
         
        </div>

    </div>

{% endblock %}